.main {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;

    .content {
        width: 1240px;
        display: flex;
        flex-direction: column;
        text-align: start;
        >h1 {
            font-size: 36px;
            font-family: "MT-Bold";
        }

        >img {
            max-width: 1240px;
            max-height: 400px;
            align-self: flex-end;
        }

        .content_2 {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            >p {
                font-size: 24px;
                font-family: "MT-Regular";
            }
        }
    }
}

@media (max-width: 1239px) {
    .main { 
        .content {
            width: 800px; 
            >h1 {
                font-size: 26px;
                font-family: "MT-Bold";
            }
    
            >img {
                max-width: 1240px;
                max-height: 400px;
                align-self: flex-end;
            }
    
            .content_2 {
                display: flex;
                justify-content: space-between;
    
                >p {
                    font-size: 18px;
                    font-family: "MT-Regular";
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .main { 
        .content {
            justify-content: space-between;
            width: 330px; 
            margin-bottom: 145px;
            position: relative;
            >h1 {
                font-size: 20px;
                font-family: "MT-Bold";
                text-align: center;
            }
    
            >img {
                position: absolute;
                max-width: 300px;
                max-height: 400px;
                left: 60px;
                bottom: -145px;
                align-self: flex-end;
            }
    
            .content_2 {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                text-align: center;
                align-items: center;
    
                >p {
                    font-size: 14px;
                    font-family: "MT-Regular";
                }
            }
        }
    }
}