.main {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    .main_container {
        width: 1240px;
        .main_content{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 50px;
            >p {
                text-align: center;
                font-size: 24px;
            }
        }
        
    }

    .block_why {
        background: linear-gradient(180deg, rgba(76,76,76,1) 0%, rgba(255,255,255,1) 100%);
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        .text_cont {
            display: flex;
            justify-content: center;
            text-align: center;
            flex-direction: column;
            align-items: center;
            align-content: center;
            >h1 {
                font-size: 80px;
                font-family: "MT-Bold";
                color: white;
            }

            >span {
                width: 100%;
                border: 3px solid white;
            }
        }

        .items_cont {
            display: flex;
            justify-content: space-between;
            margin-top: 50px;
            width: 1240px;
            .item {
                width: 335px;
                height: 635px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #D9D9D9;
                border-radius: 40px;
                transition: 1s;
                flex-direction: column;
                position: relative;
                padding-left: 20px;
                padding-right: 20px;
        
                >h1 {
                    margin: 0;
                    font-size: 400px;
                    font-family: "MT-Bold";
                    text-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
                    transition: all 1s ease;
                    user-select: none;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
        
                >h2 {
                    font-size: 36px;
                    font-family: "MT-Bold";
                    display: block; 
                    opacity: 0;
                    max-height: 0; 
                    overflow: hidden; 
                    transition: opacity 0.3s ease, max-height 2s ease, transform 3s ease;
                    user-select: none;
                    text-align: center;
                    margin-top: 10px;        
                }
        
                >p {
                    display: block; 
                    font-size: 24px;
                    font-family: "MT-Medium";
                    opacity: 0;
                    max-height: 0; 
                    overflow: hidden; 
                    transition: opacity 0.3s ease, max-height 2s ease; 
                    user-select: none;
                    text-align: center;
                    margin-top: 10px; 
                }
            }
        
            .item:hover {
                >h1 {
                    font-size: 150px;
                    margin: 0;
                    top: 0;
                    left: 0;
                    transform: translate(20px, 0);
                }
        
                >h2 {
                    opacity: 1;
                    max-height: 100px; /* Устанавливаем максимальную высоту, чтобы контент был виден */
        
                }
        
                >p {
                    opacity: 1;
                    max-height: 200px; /* Устанавливаем максимальную высоту, чтобы контент был виден */
                }
            }
        }
    }

    .mobile_cont {
        position: relative;
        margin-bottom: 145px;
        >img {
            position: absolute;
            left: 50px;
            bottom: -145px;
            z-index: -1;
        }
    }

    .partners {
        display: flex;
        align-items: center;
        padding-top: 100px;
        padding-bottom: 100px;
        gap: 100px;
        background-color: white;
        width: 1240px;

        >img {
            cursor: pointer;
        }

        .rs_img {
            height: 110px;
        }
    }

    .reviews {
        background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(0, 0, 0) 100%);
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 100px;
    
        > h1 {
            font-size: 80px;
            font-family: "MT-Bold";
            text-align: center;
        }
    
        .reviews_container {
            width: 1180px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
    
            .reviews_item {
                display: flex;
                background-color: #D9D9D9;
                border-radius: 30px;
                width: 100%;
                height: 250px;
                padding: 30px;
                align-items: flex-start;
                gap: 50px;
    
                > img {
                    object-fit: cover;
                    object-position: center;
                    width: 350px;
                    height: 250px;
                    border-radius: 20px;
                }
    
                .nr_box {
                    flex: 1;
                    
                    > p {
                        font-family: "MT-Regular";
                        font-size: 18px;
                    }
    
                    .nr_container {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
    
                        > p {
                            margin: 0px;
                            font-size: 24px;
                            font-family: "MT-Medium";
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1239px) {
    .main {
        .main_container {
            width: 800px;
            .main_content{
                >p {
                    font-size: 16px;
                    font-family: "MT-Medium";
                }

                >img {
                    width: 170px;
                }
            }
            
        }


        .block_why {
            .text_cont {
                >h1 {
                    font-size: 64px;
                }

                >span {
                }
            }
    
            .items_cont {
                width: 800px;
                .item {
                    width: 195px;
                    height: 435px;
            
                    >h1 {
                        font-size: 200px;
                    }
            
                    >h2 {
                        font-size: 22px;
                    }
            
                    >p {
                        font-size: 20px;
                    }
                }
            
                .item:hover {
                    >h1 {
                        font-size: 64px;
                    }
                }
            }
        }

        .partners {
            width: 800px;
            justify-content: center;

            .wb_img {
                height: 30px;
            }

            .dpd_img {
                height: 60px;
            }

            .rs_img {
                height: 60px;
            }
        }

        .reviews {
            > h1 {
                font-size: 64px;
            }
            .reviews_container {
                width: 800px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                align-items: center;
        
                .reviews_item {
                    display: flex;
                    background-color: #D9D9D9;
                    border-radius: 30px;
                    width: 100%;
                    height: 250px;
                    padding: 30px;
                    align-items: flex-start;
                    gap: 50px;
        
                    > img {
                        object-fit: cover;
                        object-position: center;
                        width: 300px;
                        height: 250px;
                        border-radius: 20px;
                    }
        
                    .nr_box {
                        flex: 1;
                        
                        > p {
                            font-size: 14px;
                        }
        
                        .nr_container {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
        
                            > p {
                                margin: 0px;
                                font-size: 24px;
                                font-family: "MT-Medium";
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .main {
        .main_container {
            width: 330px;
            display: flex;
            align-items: center;
            flex-direction: column;
            .main_content{
                >p {
                    font-size: 16px;
                    font-family: "MT-Medium";
                }

                >img {
                    display: none;
                }
            }
            
        }

        .block_why {
            .text_cont {
                >h1 {
                    font-size: 28px;
                }

                >span {
                    width: 90%;
                    border: 2px solid white;
                }
            }
    
            .items_cont {
                width: 330px;
                margin-top: 50px;
                flex-direction: column;
                align-items: center;
                gap: 30px;
                .item {
                    width: 300px;
                    height: 327px;
                    
                    >h1 {
                        font-size: 200px;
                    }
            
                    >h2 {
                        font-size: 22px;
                    }
            
                    >p {
                        font-size: 20px;
                    }
                }
            
                .item:hover {
                    >h1 {
                        font-size: 64px;
                    }
                }
            }
        }

        .partners {
            width: 330px;
            gap: 20px;
            flex-wrap: wrap;
            justify-content: center;
            padding-top: 50px;
            padding-bottom: 50px;
            .wb_img {
                height: 20px;
                margin-bottom: 20px;
            }

            .dpd_img {
                height: 40px;
            }

            .rs_img {
                height: 50px;
            }
        }

        .reviews {
            > h1 {
                font-size: 28px;
            }
            .reviews_container {
                width: 280px; 
                padding-top: 50px;
                .reviews_item {
                    flex-direction: column;
                    height: auto;
                    gap: 0px;
                    > img {
                        width: 280px;
                        height: 150px;
                    }
        
                    .nr_box {
                        flex: 1;
                        
                        > p {
                            font-size: 14px;
                        }
        
                        .nr_container {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
        
                            > p {
                                margin: 0px;
                                font-size: 16px;
                                font-family: "MT-Medium";
                            }

                            .rating {
                                >img {
                                    width: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}