.main {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    .content {
        width: 1240px;
        text-align: center;
        margin-bottom: 140px;
        >img {
            width: 372px;
        }

        >p {
            font-family: "MT-Regular";
            font-size: 24px;
        }
    }
}

@media (max-width: 1239px) {
    .main {
        .content {
            width: 800px;
            margin-bottom: 140px;
            >img {
                width: 322px;
            }
    
            >p {
                font-size: 24px;
            }
        }
    }
}

@media (max-width: 800px) {
    .main {
        .content {
            width: 330px;
            margin-bottom: 50px;
            >img {
                width: 172px;
            }
    
            >p {
                font-size: 14px;
            }
        }
    }
}