.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1240px;
    padding-top: 70px;
    padding-bottom: 70px;
    >nav {
        >ul {
            list-style-type: none;
            display: flex;
            align-items: center;
            gap: 100px;
            padding: 0;
            margin: 0;

            .dropdown {
                position: relative;
                >p {
                    margin: 0;
                    font-weight: 500;
                    color: #000000;
                    text-decoration: inherit;
                    font-size: 20px;
                    font-family: 'MT-Medium';
                    cursor: pointer;
                }

                >p:hover {
                    text-decoration: underline;
                }

                >ul {
                    display: none;
                    position: absolute;
                    list-style-type: none;
                    padding: 0;
                    padding-top: 5px;

                    >li {
                        padding-top: 5px;
                    }
                }
            }

            .dropdown:hover {
                >ul {
                    display: block;
                }
            }
        }
    }

    .mobile_menu {
        display: flex;
        flex-direction: column; /* Вертикальное расположение элементов */
        align-items: center; /* Центрирование по горизонтали */
        justify-content: flex-start; /* Элементы будут в начале контейнера */
        width: 100%; /* Занимает всю ширину */

        >button {
            background-color: #ffffff;
            border: 0;
            align-self: flex-start;
        }
        
    }
}

@media (max-width: 1239px) {
    .header {
        width: 800px;

        >nav {
            >ul {
                gap: 30px;
                padding: 0;
                margin: 0;
                
                >li {
                    >a {
                        font-size: 14px;
                        font-family: 'MT-Medium';
                    }
                }

                .dropdown {
                    >p {
                        font-size: 14px;
                        text-align: -webkit-match-parent;
                    }

                    >ul {
                        >li {
                            >a {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
}