.form_container {
    background-color: #DBDBDB;
    border-radius: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 100px;
    
    >form{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 50px;
        padding-top: 30px;
        gap: 30px;

        >h1 {
            font-family: "MT-Bold";
            font-size: 38px;
            margin: 0;
        }
        
        >input {
            background-color: #DBDBDB;
            border: 0;
            outline: none;
            border-bottom: 2px solid black;
            font-family: "MT-Regular";
            font-size: 24px;
            color: #F39200;
        }

        >button {
            background-color: #F39200;
            font-family: "MT-Regular";
            font-size: 20px;
            padding-top: 20px;
            padding-bottom: 20px;
            border: 0;
            border-radius: 10px;
        }
    }
}

@media (max-width: 1239px) {
    .form_container {
        background-color: #DBDBDB;
        border-radius: 30px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 100px;
        
        >form{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 20px;
            padding-top: 20px;
            gap: 20px;
    
            >h1 {
                font-family: "MT-Bold";
                font-size: 24px;
                margin: 0;
            }
            
            >input {
                background-color: #DBDBDB;
                border: 0;
                outline: none;
                border-bottom: 2px solid black;
                font-family: "MT-Regular";
                font-size: 14px;
                color: #F39200;
            }
    
            >button {
                background-color: #F39200;
                font-family: "MT-Regular";
                font-size: 14px;
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }

        >img {
            width: 500px;
            height: 200px;
        }
    }
}